{% extends 'base.html' %}
{% set page_title = 'Login School' %}

{% block header %} {% endblock %}

{% block body %}
<h1 class="text-center">System for Managing Academic Information</h1>
<div id="login-main">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Login</h3></div>
            <div class="panel-body">
                <form role="form" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="login-username">Username</label>
                        {{ form.username(class_="form-control", placeholder="Enter username", id="login-username") }}
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password <a href="{{ url_for('frontend.password_reset') }}" tabindex="-1">(forgot password)</a></label>
                        {{ form.password(class_="form-control", id="login-password", placeholder="Password") }}
                    </div>
                    <div class="form-group">
                        {{ form.remember_me() }}
                        <label for="login-remeber-me">Remember me</label>
                    </div>

                    <hr>
                    <div class="form-group">
                        {{ form.submit(class_="btn btn-success btn-block") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}