{% from "macros/form.html" import render_form %}
{% extends 'base.html' %}
{% set page_title = 'Forgot your password?' %}

{% block body %}
    <h2 class="text-center">Password reset confirmation sent</h2><hr>
    <div class="col-md-4 col-md-offset-4">
        <div>
            <h4>
                We’ve sent you an email containing a link that will allow you to reset your password for the next 24 hours.
            </h4>
            <h4>
                Please check your spam folder if the email doesn’t appear within a few minutes.
            </h4>
            <a class="btn btn-success btn-block btn-lg" href="/login" role="button">
                Return to login
                <span class="glyphicon glyphicon-arrow-right">
                </span>
            </a>
        </div>
    </div>
{% endblock %}