{% block body %}
    #
    <p>Hello {{ user.realname}}!</p>
    <p>Someone has requested a link to change your password,
        and you can do this through the link below.</p>

{#    <p><a href="http://127.0.0.1:5000/password_reset?token={{ token }}">Change Password</a></p>#}

    <p><a href="http://127.0.0.1:5000{{ url_for('frontend.password_reset') }}?token={{ token }}">Change Password</a></p>

    <p>If you didn't request this, please ignore this email.</p>

    <p>Your password won't change until you access the link above and create a new one.</p>

    <p>PS:If you don't use this link within 24 hours, it will expire.
        To get a new password reset link, visit the <a href="http://127.0.0.1:5000/password_reset">reset password</a> page.</p>


{% endblock %}