{% macro _label(field, class_label="") %}
    <label class="control-label{% if class_label %} {{ class_label }}{% endif %}" for="{{ field.id }}">
        {{ field.label }}
    </label>
{% endmacro %}

{% macro render_checkbox(field, class_label="", class_field_wrapper="") %}
<div class="checkbox{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id }}">
        {{ field }}{{ field.label.text }}
    </label>
    <span class="help-inline">{{ field.description }}</span>
    {% if field.errors -%}
    <ul class="help-block">
        {% for error in field.errors -%}
        <li>{{ error|e }}</li>
        {%- endfor %}
    </ul>
    {%- endif %}
</div>
{% endmacro%}

{% macro render_radio(field, class_label="", class_field_wrapper="") %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="{% if class_field_wrapper %}{{ class_field_wrapper }}{% endif %}">
        {% for subfield in field -%}
        <label for="{{ subfield.id }}" class="radio-inline">
            {{ subfield }} {{ subfield.label.text }}
        </label>
        {%- endfor %}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <li>{{ error }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_datepicker(field, class_label="", class_field_wrapper="") %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ _label(field, class_label) }}
    <div class="{% if class_field_wrapper %}{{ class_field_wrapper }}{% endif %}">
        {{ field(class="datepicker") }}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <li>{{ error }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_textarea(field, class_label="", class_field_wrapper="") %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ _label(field, class_label) }}
    <div class="{% if class_field_wrapper %}{{ class_field_wrapper }}{% endif %}">
        {{ field(class_="form-control", rows="4") }}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <li>{{ error }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_file(field, class_label="", class_field_wrapper="") %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ _label(field, class_label) }}
    <div class="{% if class_field_wrapper %}{{ class_field_wrapper }}{% endif %}">
        {{ field }}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <li>{{ error }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_input(field, class_label="", class_field_wrapper="") %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    {{ _label(field, class_label) }}
    <div class="{% if class_field_wrapper %}{{ class_field_wrapper }}{% endif %}">
        {{ field(class_="form-control") }}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
        <ul class="help-block">
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        </ul>
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_action(field, submit_block=False) %}
<div class="form-group">
    <div class="form-actions">
        {% set cls = "btn btn-primary" %}
        {% if submit_block %}
            {% set cls = cls + " btn-block" %}
        {% endif %}
        {{ field(class_=cls) }}
    </div>
</div>
{% endmacro %}

{% macro render_form(url, form,
                    horizontal=False,
                    legend=None,
                    confirm_msg=None,
                    formid=None,
                    submit_block=False,
                    class_label="",
                    class_field_wrapper="") %}
{% set idattr = "id=" + formid if formid else "" %}
<form {{idattr}} class="{% if horizontal %}form-horizontal{% endif %}" method="POST" action="{{ url }}"
    {% if confirm_msg %}onsubmit='return confirm("{{ confirm_msg }}");' {% endif %}
    {% if form.multipart %}enctype="multipart/form-data"{% endif %} >
    {{ form.hidden_tag() }}
        {% if legend %}
        <legend>{{ legend|safe }}</legend>
        {% endif %}
        {% set focus = True %}
        {% for field in form %}
            {% if field.type != "HiddenField" and field.type != "CSRFTokenField" %}
                {% if field.type == "RadioField" %}
                    {{ render_radio(field, class_label, class_field_wrapper) }}
                {% elif field.type == "BooleanField" %}
                    {{ render_checkbox(field, class_label, class_field_wrapper) }}
                {% elif field.type == "SubmitField" %}
                    {{ render_action(field, submit_block) }}
                {% elif field.type == "TextAreaField" %}
                    {{ render_textarea(field, class_label, class_field_wrapper) }}
                {% elif field.type == "DateField" %}
                    {{ render_datepicker(field, class_label, class_field_wrapper) }}
                {% elif field.type == "FileField" %}
                    {{ render_file(field, class_label, class_field_wrapper) }}
                {% elif field.type == "TextField" %}
                    {% if focus %}
                        {{ render_input(field, class_label, class_field_wrapper) }}
                        {% set focus = False %}
                    {% else %}
                        {{ render_input(field, class_label, class_field_wrapper) }}
                    {% endif %}
                {% else %}
                    {{ render_input(field, class_label, class_field_wrapper) }}
                {% endif %}
            {% endif %}
        {% endfor %}
</form>
{% endmacro %}
