{% extends 'base.html' %}
{% set page_title = 'Change Password' %}

{% block body %}
<h1 class="text-center"></h1>
<div id="change-password-main">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
{#            No panel-title #}
            <div class="panel-heading"><h3 class="panel-title">Change password</h3></div>
            <div class="panel-body">
                <form role="form" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="change-password-old-password">Old password</label>
                        {{ form.old_password(class_="form-control", placeholder="Enter the old password", id="user_old_password") }}
                    </div>
                    <div class="form-group">
                        <label for="change-password-new-password">New password</label>
                        {{ form.new_password(class_="form-control", placeholder="Enter the new password", id="user_new_password") }}
                    </div>
                    <div class="form-group">
                        <label for="change-password-confirmed-password">Confirm password </label>
                        {{ form.confirmed_password(class_="form-control", id="user_confirm_new_password", placeholder="Cofirm the password") }}
                    </div>
                    <hr>
                    <div class="form-group">
                        {{ form.update_password(class_="btn btn-success") }} <a href="#">I forgot my password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}