{% extends 'base.html' %}
{% set page_title = 'See courses' %}

{% block body %}

<tbody><tr valign="top">
          <td style="border: 1px solid black;" >
            <div style="height: 393px; width: 1182px; overflow: auto;">
              <table style="border: 1px solid black;" cellspacing="5px" cellpadding="5px" class="Projects">
                <tbody><tr style="border: 1px solid black;" >
                  <td class="Header" style="text-align: center; border: 1px solid black;">
                    Course
                  </td>
                  <td class="Header" style="text-align: center;border: 1px solid black;">
                    Grade
                  </td>
                </tr>

                {% for course in courses %}
                <tr style="text-align: center;border: 1px solid black;" >
                    <td style="text-align: center;border: 1px solid black;" >
                      <a href="">
                          {{ course.name }}
                      </a>
                    </td>
                    <td style="text-align: center;border: 1px solid black;" >
                      0
                    </td>
                  </tr>
                {% endfor %}

              </tbody></table>
            </div>
          </td>
        </tr>
      </tbody>
{% endblock %}