{% extends 'base.html' %}
{% set page_title = 'See courses' %}

{% block body %}

{% if current_user.is_student() %}
<div class="row">
    <div class="text-center col-md-2 col-md-push-5" >
        <form method="post" class="form-group">
            <select size="1" name="semester" class="form-control">
                    <option value=0>Choose a semester</option>
                    {% for semester in semesters %}
                    <option value="{{ semester.id }}" >{{ semester.name }}</option>
                    {% endfor %}
            </select>
            <br>
            <INPUT TYPE="submit" value="choose" class="btn btn-default">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-push-3" >
      <table class="table table-striped table-bordered">
        <tr>
          <td class="col-md-5">
            <strong>Course</strong>
          </td>
          <td class="col-md-1">
            <strong>Grade</strong>
          </td>
        </tr>
        {% for i in range(courses.__len__()) %}
        <tr>
            <td class="col-md-4">
                {{ courses[i].name }}
            </td>
            <td class="col-md-1">
                {% if grades[i] %}
                    {{ grades[i] }}
                {% else %}
                    NC
                {% endif %}
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>






    {% else %}
        <table class="table table-responsive">
        <tr style="border: 1px solid black;" >
            <td class="Header" style="text-align: center; border: 1px solid black;">
                Courses
            </td>
        </tr>
        {% for course in courses %}
        <tr style="border: 1px solid black;" >
            <td class="Header" style="text-align: center; border: 1px solid black;">
                {{ course.name }}
            </td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}

{% endblock %}