{% from "macros/form.html" import render_form %}
{% extends 'base.html' %}
{% set page_title = 'Contract' %}

{% block body %}
    <h1 class="text-center">Contract</h1><hr>
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
            <button class="btn btn-default" disabled="disabled"> Degree: {{ degree.name }} </button>
            <button class="btn btn-default" disabled="disabled"> Group: {{ group.name }} </button>
            <button class="btn btn-default" disabled="disabled"> Current year: {{ year }} </button>
            <button class="btn btn-default" disabled="disabled"> Current semester: {{ semester_nr }} </button>
        </div>
    </div><hr>
    <div class="col-md-2">
        <div class="btn-group" id="semesters-pick">
            {% for semester in semesters %}
                <a data-id="{{ semester.id }}" href="{{ url_for('course.contract', semester_id=semester.id) }}"
                    class="btn btn-default{% if semester_sel.id == semester.id %} active{% endif %}">
                    Semester {{ loop.index }}, Year {{ semester.year }}
                </a>
            {% endfor %}
        </div>
    </div>
    {% if has_contract %}
        <div class="col-md-10">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Name Course</th>
                    <th>Type</th>
                    <th>Grade</th>
                </tr>
                {% for enrolled, course in courses_enrolled %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ course.get_code() }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.type_to_str().title() }}</td>
                        <td>{{ enrolled.grade }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% elif not courses_enrolled %}
        <div class="col-md-4 col-md-offset-2">
            <p class="text-center">Contract is empty, start building temporary contract</p>
            <a class="btn btn-default col-md-offset-3" href="{{ url_for("course.contract_action", semester_id=semester_sel.id) }}">
                Start Building Contract
            </a>
        </div>
    {% else %}
        <div class="col-md-10">
            <h3>All courses you can choose</h3>
            <table class="table table-bordered table-striped" id="table-all-courses">
                <tr>
                    <th class="col-md-1">Package</th>
                    <th class="col-md-1">Type</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th class="col-md-1">Credits</th>
                    <th>Enrolled/Max</th>
                    <th>Actions</th>
                </tr>
                {% for course in courses_semester %}
                    <tr>
                        <td>
                            {% if course.is_optional %}
                                {{ course.package }}
                            {% endif %}
                        </td>
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="{{ course.type_to_str().title() }}">
                                {{ course.type_id }}
                            </span>
                        </td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.get_code() }}</td>
                        <td>{{ course.credits }}</td>
                        <td>{{ course.get_nr_enrolled(semester_sel.id) }}/{{ course.get_max_str() }}</td>
                        <td>
                             {% if course.is_optional and not course.is_in_contract %}
                                <a href="{{ url_for('course.contract_action', semester_id=semester_sel.id, action=1, course_id=course.id) }}"
                                   class="btn btn-primary btn-block" data-toggle="tooltip" data-placement="top" title="You can change priority after you add it">
                                    {% if course.package in packages %}
                                        Add preference to package
                                    {% else %}
                                        Add
                                    {% endif %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <h3>Temporary contract</h3>
            <table class="table table-bordered table-striped tabble-c">
                <tr>
                    <th class="col-md-1">Package</th>
                    <th class="col-md-1">Type</th>
                    <th>Name Course</th>
                    <th class="col-md-1">Code</th>
                    <td class="col-md-3">
                        <span data-toggle="tooltip" data-placement="top" title="What is your priority for this optional course. Lower priority means it is higher ranked">Priority</span>
                    </td>
                    <th class="col-md-2">Actions</th>
                </tr>
                {% for enrolled, course in courses_enrolled %}
                    <tr>
                        <td>
                            {% if course.is_optional %}
                            <span data-toggle="tooltip" data-placement="top" title="Priority: {{ enrolled.priority }}">
                                {{ course.package }}
                            </span>
                            {% endif %}
                        </td>
                        <td>
                            <span data-toggle="tooltip" data-placement="top" title="{{ course.type_to_str().title() }}">
                                {{ course.type_id }}
                            </span>
                        </td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.get_code() }}</td>
                        <td>
                            {% if course.is_optional %}
                                 {% if packages[course.package]|length > 1 %}
                                     <form method="post" action="{{ url_for('course.contract_action', semester_id=semester_sel.id, action=3, course_id=course.id) }}">
                                         <div class="input-group">
                                             <input type="number" name="priority" min="1" max="9"
                                                    class="pos-numeric form-control input-sm" value="{{ enrolled.priority }}">
                                             <span class="input-group-btn">
                                                 <input type="submit" class="btn btn-sm btn-success" value="Change Priority">
                                             </span>
                                         </div>
                                     </form>
                                 {% else %}
                                     {{ enrolled.priority }}</td>
                                 {% endif %}
                            {% endif %}
                        <td>
                        <div class="btn-group">
                            {% if course.is_optional %}
                                 <a href="{{ url_for('course.contract_action', semester_id=semester_sel.id, action=2, course_id=course.id) }}"
                                       class="btn btn-danger">Remove</a>
                            {% endif %}
                        </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/courses.js') }}"></script>
{% endblock %}